@font-face {
    font-family: "Pokemon";
    src: url("../images/Pokemon Solid.ttf");
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
}

nav {
    display: flex;
    background-color: #2F6EB5;
    padding: .002%;
    color: black
}

.nav2 {
    justify-content: center;
    margin-left: 32%;
}

#main {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.nombre {
    font-family: "Pokemon";
    font-size: 200%;
}

.caja-buscar {
    width: 150px;
    height: 40px;
}

.buscar {
    font-family: "Pokemon";
    font-size: 50%;
    background-color: #2F6EB5;
}

.Tipo {
    font-size: 70%;
    font-family: "Pokemon";
    width: 150px;
    height: 60px;
    background-color: #2F6EB5;
}

.ordenar {
    font-size: 70%;
    font-family: "Pokemon";
    width: 150px;
    height: 60px;
    background-color: #2F6EB5;
}

.sort-menu,
.types-menu {
    -webkit-appearance: none;
    -webkit-margin-before: 0.6em;
    -webkit-margin-after: 0.6em;
    -webkit-margin-start: 0.6em;
    -webkit-margin-end: 0.6em;
    -moz-appearance: none;
    appearance: none;
    background-position: 218px center;
    height: 200px;
    border: 0px solid #ddd;
    font-family: "Pokemon";
    font-size: 200%;
}

.contenedor-pokemons {
    height: 70vh;
    width: 70vw;
    overflow: auto;
    background-color: #2F6EB5;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.Boton_Volver {
    margin-top: 2%;
    display: flex;
    margin-left: 45%;
}