* {
    margin: 0;
    padding: 0;
}

.header-top {
    height: 120px;
}

#body {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/fondo3.png");
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}